//*************************
// Dropzone Styles
//*************************
.drop-zone-container {
  @apply w-full;

  .dropzone {
    @apply border border-gray-180 border-dashed rounded-lg text-xs text-gray-350 flex
    justify-center items-center max-h-[200px] h-[200px] p-2.5 cursor-pointer;

    p {
      @apply mt-10 block max-w-[200px] text-center relative;

      &:before {
        content: " ";
        background-image: url("../../public/images/dropzone-icon.svg");
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -40px;
        left: calc(50% - 20px);
      }
    }
  }

  aside {
    @apply mt-4;

    h4 {
      @apply text-xs font-bold;
    }

    ul {
      li {
        font-size: 10px;
        @apply border border-gray-180 border-dashed font-bold
        pr-2.5 pl-6  py-1.5 rounded-lg mt-1.5 relative inline-block ml-2;

        i.close {
          background-image: url("../../public/images/close.svg");
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          @apply absolute top-0.5 right-0.5 cursor-pointer;
        }
        i.file {
          //background-image: url("../../public/images/drop-file.svg");
          //background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          @apply absolute top-1.5 left-1.5;
        }

        em {
          @apply font-normal not-italic block;
        }
        span {
          text-overflow: ellipsis;
          @apply max-w-[85px] overflow-hidden block whitespace-nowrap;
        }
      }
    }
  }
}
