extends ../layouts/layout

block layout-content
    div.View.WelcomeView
        h1.Banner Map Kids Backend
        div.Message
            div.Title
                h3 Making the Best
                h1 User application
            span.Details Access the Backend
        div.NavButtons
            a(href="/user")
                div.NavButton Just dive in!
