@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer utilities {
  .bg-red {
    background: red;

  }
  .border-1 {
    border: solid 1px;
  }
  .blueGray-300 {
    background: yellow !important;
  }

  .border-gray-180, .text-gray-350 {
    border-color: #0c63e4;
  }
}

.backend-logo {
  margin: 0 auto;
  padding: 10px 0;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  //background: #312E81;
  background: #432775;
  font-size: 14px;
}
.l-backend {
  padding-left: 2rem;
  padding-right: 2rem;

}
/* Auth */
.auth .login-half-bg {
  background: url("../public/images/auth/login-bg.jpg");
  background-size: cover;
}

.auth .register-half-bg {
  background: url("../public/images/auth/register-bg.jpg");
  background-size: cover;
}

.auth.lock-full-bg {
  background: url("../public/images/auth/lockscreen-bg.jpg");
  background-size: cover;
}

.auth .lock-profile-img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.auth .auth-form-light {
  background: #ffffff;
}

.auth .auth-form-light select {
  color: #c9c8c8;
}

.auth .auth-form-transparent {
  background: transparent;
}

.auth .auth-form-transparent .form-control, .auth .auth-form-transparent .asColorPicker-input, .auth .auth-form-transparent .dataTables_wrapper select, .dataTables_wrapper .auth .auth-form-transparent select, .auth .auth-form-transparent .select2-container--default .select2-selection--single, .select2-container--default .auth .auth-form-transparent .select2-selection--single, .auth .auth-form-transparent .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .auth .auth-form-transparent .select2-search__field, .auth .auth-form-transparent .typeahead,
.auth .auth-form-transparent .tt-query,
.auth .auth-form-transparent .tt-hint,
.auth .auth-form-transparent .input-group-text {
  border-color: #F1F1F1;
}

.auth .auth-form-transparent select {
  outline-color: #F1F1F1;
}

.auth.auth-img-bg {
  padding: 0;
}

@media (min-width: 768px) {
  .auth.auth-img-bg .auth-form-transparent {
    width: 55%;
    margin: auto;
  }
}

.auth .brand-logo {
  margin-bottom: 2rem;
}

.auth .brand-logo img {
  width: 90px;
}

.auth form .form-group {
  margin-bottom: 1.5rem;
}

.auth form .form-group label {
  font-size: .8125rem;
}

.auth form .auth-form-btn {
  padding: 1rem 3rem;
  line-height: 1.5;
}

.auth form .auth-link {
  font-size: 0.812rem;
}

.auth form .auth-link:hover {
  color: initial;
}

.box {
  box-shadow: 0 3px 20px #0000000b;
  background-color: #fff;
  border-color: transparent;
  border-radius: .375rem;
  position: relative;
}
.intro-y {
  min-width: 265px;
}
//.p-5 {
//  padding: 1.25rem;
//}


.page-body-wrapper {
  min-height: calc(100vh - 97px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  padding-top: 97px;
}

.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 0;
}

.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 220px);
  min-height: calc(100vh - 97px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  .main-panel {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  background: #F4F5F7;
  padding: 1.5rem 2.187rem 1.5rem 3.5rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .content-wrapper {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}

.input-email {
  .form-control-icon {
    border-color: rgba(0, 0, 0, 0.7) !important;
    box-shadow: none !important;
    @apply w-full border-blueGray-800
      px-3 py-3 placeholder-blueGray-300 text-blueGray-600
      rounded text-sm shadow
      focus:outline-none border-1
  }
  .input-close {
    top: 10px !important;
    cursor: pointer;
  }
  .error-el {
    bottom: -15px !important;
  }
}
.btn-close {
  background: url(../public/images/close.svg);
  position: absolute;
  right: 27px;
  top: 27px;
}

.back-arrow {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;


  &:before {
    background: url(../public/images/arrow-right.svg);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    top:7px;
    rotate: 180deg;
  }
}
.btn-back {
  color: #000;
  background-color: #fff;
  border-color: #428DFC;
}

.btn-back:hover {
  color: #000;
  background-color: #52bdb7;
  border-color: #48b9b3;
}


@import "components/variables";
@import 'components/mixins';
@import 'components/reset';
@import "components/form.scss";
@import "components/dropdown.scss";
@import "backend-components/sidebar.scss";
@import "backend-components/drop-zone.scss";
@import "backend-components/table.scss";
@import "backend-components/grid.scss";
