@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/variables";
@import 'components/mixins';
@import 'components/reset';
//@import "components/header";
//@import "components/home";
//@import "components/buttons";
//@import "components/modal";
//@import "components/form";
//@import "components/breadcrumb";
//@import "components/dropzone";
//@import "components/colorpicker";
//@import "components/dropdown";
//@import "components/alerts";
//@import "components/preview";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #F5F5F5;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

body {
  background: #F5F5F5;
  //font-family: 'Raleway';

  main {
    @include less($large) {
      //margin: 0 16px;
      //padding-bottom: 200px;
      margin: 0 30px;
    }
    @include less($medium) {
      margin-top:  90px;
    }
  }
}

.container {
  @include less($medium) {
    padding-left: 0;
    padding-right: 0;
  }
}

.loader {
  @apply w-full h-full bg-black fixed opacity-75 top-0;
  z-index: 9999999;
  //margin-top: -90px;
}

.resource-head {
  @apply w-full text-center;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #3D3E52;
  margin-bottom: 30px;
}


